nav ul a,
nav .brand-logo {
    color: #444;
}

body {
    background: rgba(77, 112, 112, 0.3);
}

p {
    line-height: 2rem;
}

h2 {
    font-size: 2.56rem;
    margin-top: 0;
}

h1 {
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.2);
}

h5.header {
    color: #9fa8da;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.2);
}