// my-skill
.my-skill 
    .container
        .helpers
            include ../preloader/preloader
            div
                span при разработке использую:
                ul
                    li BEM
                    li SCSS
                    li PUG(JADE)
                    li GIT
                    li JQUERY
                    li VUE JS
            div
                span знания cms:  
                ul
                    li Drupal 6 (3+)
                    li Drupal 7 (4)
                    li Drupal 8 (4+)
                    li 1c - Bitrix (3)
                    li Wordpress (4-)
            include ../preloader2/preloader2
// КОНЕЦ: my-skill
