// my-skill
.my-skill 
    .container
        .helpers
            //- include ../preloader/preloader
            div
                span при разработке использую:
                ul
                    li GULP
                    li BEM
                    li SCSS
                    li PUG(JADE)
                    li GIT
                    li JQUERY
            div
                span опыт работы с CMS:  
                ul
                    li Drupal 6
                    li Drupal 7
                    li Drupal 8
                    li 1c - Bitrix
                    li Wordpress
            //- include ../preloader2/preloader2
// КОНЕЦ: my-skill
