@import '../helpers/_helpers';

.preloader2 {
	flex: 0 0 auto;
	width: 300px;
	height: 300px;
	position: relative;
	// border: 1px dashed black;
	filter:url('#goo');
	@include max-screen(991px) {
		display: none;
	}
}

$blue: #3f4c6b;
$red: #FFF5A5;

$animtime: 4s;
$easing: ease-in-out;

.loader2 {
	filter:url('#goo');
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: calc(30% - 3rem / 2);
    left: calc(30% - 3rem / 2);
    background: $blue;
    border-radius: 1.5rem;
}
.loader-left {
  animation: rotateLeft $animtime $easing infinite, color $animtime $easing infinite;
}
.loader-right {
  animation: rotateRight $animtime $easing infinite, color $animtime $easing infinite;
}

@keyframes rotateLeft {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform-origin: -50% -50%;
  }
}

@keyframes rotateRight {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform-origin: 150% 150%;
  }
}

@keyframes color {
  0% {
    background: $blue;
  }
  50% {
    background: $red;
  }
  100% {
    background: $blue;
  }
}
