// my-work
.sites
    .container
        .sites__done
            .sites__title
                h2 Frontend-разработка сайтов
            .sites__list
                div
                    a.ready__job(target='_blank', href='http://tmidv.ru/')
                        span Техмашинвест
                div
                    a.ready__job(target='_blank', href='http://dvizhuch.ru/')
                        span Движуч
                div
                    a.ready__job(target='_blank', href='https://atm74.com')
                        span АТМ Спецтехника
                div
                    a.ready__job(target='_blank', href='http://psm-miass.ru/')
                        span Промспецмаш
                div
                    a.ready__job(target='_blank', href='http://specavtomash-m.ru/')
                        span Спецавтомаш
                div
                    a.ready__job.grey(target='_blank', href='#')
                        span Гефест
                div
                    a.ready__job(target='_blank', href='http://frblo.ru/')
                        span FRBLO
                div
                    a.ready__job(target='_blank', href='http://pkuspt.ru/')
                        span ПК УСПТ  
// КОНЕЦ: my-work
