.ready__job {
    display: inline-block;
    width: 180px;
    text-align: center;
    padding: 10px 10px 9px;
    margin: 15px 40px;
    position: relative;
    transition: all 0.7s;
}
a.ready__job {
	border: none;
}
.ready__job:before {
  z-index: 2;
  content: '';
  position: absolute;
  width: 51%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #851626;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  transition: all 0.7s;
}
.ready__job:after {
  z-index: 2;
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
   background-color: #851626;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  transition: all 0.7s;
}
.ready__job span {
  position: relative;
  font-weight:600;
  z-index: 3;
  color: #ffffff;

  transition: all 0.7s;
}
.ready__job:hover {
  background-color: #EEE8AA;
}
.ready__job:hover:before {
  left: -18px;
  width: 12%;

  background-color: #7b081f;
}
.ready__job:hover:after {
  right: -18px;
  width: 12%;
  background-color: #7b081f;
}
.ready__job:hover span {
  color: #293133;
}


.grey {
    &::before,
    &::after {
        background-color: #555555;
        opacity: 0.8;
    }
}
