.container {
  margin: 0 auto;
  width: 1170px;
  @include max-screen(1199px) {width: 970px;}
  @include max-screen(991px) {width: 750px;}
  @include max-screen(767px) {width: 610px;}
}
.noscroll {}
.table-wrapper {overflow: auto;}
a.lightgallery {border-bottom: none;}
ul.slick-dots li button, .slick-slide, .slick-arrow {outline: none;}





/******************************************************/
.wrapper {
	color: #293133;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	// background-image: url('../img/t6.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	//
	// background: #fcecfc;
	// background: -moz-linear-gradient(-45deg, #fcecfc 0%, #cc88c7 31%, #d675ae 62%, #6e6cdd 100%);
	// background: -webkit-linear-gradient(-45deg, #fcecfc 0%,#cc88c7 31%,#d675ae 62%,#6e6cdd 100%);
	// background: linear-gradient(135deg, #fcecfc 0%,#cc88c7 31%,#d675ae 62%,#6e6cdd 100%);
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#6e6cdd',GradientType=1 );



	// background: #fcecfc;
	// background: -moz-linear-gradient(-45deg, #fcecfc 0%, #E6BBE2 31%, #EBB0D2 62%, #ACABEE 100%);
	// background: -webkit-linear-gradient(-45deg, #fcecfc 0%,#E6BBE2 31%,#EBB0D2 62%,#ACABEE 100%);
	// background: linear-gradient(135deg, #fcecfc 0%,#E6BBE2 31%,#EBB0D2 62%,#6e6cdd 100%);
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ACABEE',GradientType=1 );

	background: #fcecfc;
	background: -moz-linear-gradient(-45deg, #fcecfc 0%, #E6BBE2 50%, #EBB0D2 22%, #ACABEE 100%);
	background: -webkit-linear-gradient(-45deg, #fcecfc 0%,#E6BBE2 50%,#EBB0D2 22%,#ACABEE 100%);
	background: linear-gradient(135deg, #fcecfc 0%,#E6BBE2 50%,#EBB0D2 22%,#6e6cdd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ACABEE',GradientType=1 );
}
.container {
  position: relative;
  padding: 5px 20px;
}
.vk {
	position: relative;
	padding-left: 60px;
	padding-top: 12px;
	color: #ffffff;
	&:hover {
		color: #ffffff;
	}
	&::before {
		position: absolute;
		top: 0;
		left: 0;
		content: '';
		@include sprite($vk);
	}

    display: block;
    margin-left: 10px;
}
.photo {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 110px;
    height: 140px;
    border-radius: 10px;
    background: url("../img/IMG_1-47.jpg") no-repeat center center;
    background-size: auto auto;
    background-size: 100%;
    transition: all 0.5s;
    border: 4px solid rgba(83,55,122,1);
}
@media screen and (max-width: 420px) {
    .photo {
        top: 20px;
        right: 20px;
    }
}
.sites__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-left: 10px;
}
.sites__list_2 {
    display: flex;
    flex-flow: row wrap;
}
.sites__list_2 a {
  position: relative;
  display: block;
  margin: 10px;
  width: 150px;
  color: #101010;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background: rgb(225,230,230);
  background: linear-gradient(bottom right, rgb(225,230,230), rgb(245,245,245));
  border: none;
  }
.sites__list_2 a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0px;
    opacity: 0;
    // background-color: rgba(120,219,226,0.4);
    background-color: rgba(255,176,46,0.4);
    transition: all 0.5s;
    z-index: 1;
}
.sites__list_2 a:hover:before {
    width: 100%;
    opacity: 1;
}


.sites {
    margin-top: 100px;
}

.sites__list a {
    font-size: 15px;
    font-weight: 400;
    color: #101010;
    text-decoration: none;
}
.sites__changes,
.contacts,
.sites__done,
.helpers {
  margin-bottom: 15px;
}
.photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts {
    display: flex;
	flex-flow: column nowrap;
    align-items: flex-end;
    margin: 40px 0 0 0;
	a {
		border: none;
	}
}
.cont1 {
    display: flex;
	flex-flow: row nowrap;
	margin-bottom: 20px;
}
.frontend {
 font-family: 'Colus', arial;
}
.hello {
  padding: 0 5px;
}
.ya-share2 {
    margin-right: 20px;
}
.ya-share2__list_direction_horizontal > .ya-share2__item {
  margin: 0 5px 5px 0 !important;
}


@media screen and (min-width: 992px) {
  .container {
    width: 1170px;
    margin: 20px auto;
  }
}
@media screen and (max-width: 991px) and (min-width: 769px) {
  .container {
    min-width: 700px;
    width: 100%;
    margin: 15px auto;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 28px;
  }
  body {
    padding: 5px 10px;
  }
  .container {
    min-width: 300px;
    width: 100%;
    margin: 5px auto;
    padding: 15px;
  }
  .sites__list_2 a {
    width: 140px;
    margin: 5px auto;
    font-size: 14px;
  }
  .description {
    display: block;
    margin: 5px;
  }
  .cont1 {
	flex-flow: row wrap;
	.vk, .skype {
		padding-bottom: 20px;
		margin: 0;
	}
  }

}


.helpers {
	display: flex;
	justify-content: center;
	div {
		margin: 10px 30px;
	}
}

.box2 {
	position: absolute;
	top: 30px;
	right: 10%;
}

.position {
    font-size: 18px;
}
