// main-slider
.main-slider
    .slide.slide_1
        .box2
            .position web-developer
        .box
            .name Frolov Denis
    .slide.slide_2
        .box
            .sites
                .sites__done
                    .sites__title
                        h2 Frontend-разработка сайтов
                    .sites__list
                        div
                            a.ready__job(target='_blank', href='http://tmidv.ru/')
                                span Техмашинвест
                        div
                            a.ready__job(target='_blank', href='http://dvizhuch.ru/')
                                span Движуч
                        div
                            a.ready__job(target='_blank', href='https://atm74.com')
                                span АТМ Спецтехника
                        div
                            a.ready__job(target='_blank', href='http://psm-miass.ru/')
                                span Промспецмаш
                        div
                            a.ready__job.grey(target='_blank', href='#')
                                span Спецавтомаш
                        div
                            a.ready__job.grey(target='_blank', href='#')
                                span Гефест
                        div
                            a.ready__job(target='_blank', href='http://frblo.ru/')
                                span FRBLO
                        div
                            a.ready__job(target='_blank', href='http://pkuspt.ru/')
                                span ПК УСПТ  
                    .helpers
                        div
                            span при разработке использую:
                            ul
                                li BEM
                                li SCSS
                                li PUG(JADE)
                                li GIT
                                li JQUERY
                                li VUE JS
                        div
                            span знания cms:  
                            ul
                                li Drupal 6 (3+)
                                li Drupal 7 (4+)
                                li Drupal 8 (4+)
                                li Bitrix (3)
                                li Wordpress (4-)

    .slide.slide_3
        .box
            .sites__changes
                .sites__title
                    h2 Правки, оптимизация, массовые работы и верстка на сайтах
                .sites__list_2
                    a(target='_blank', href='https://vektornpo.ru/') vektornpo.ru
                    a(target='_blank', href='http://avto-llumar.ru/') avto-llumar.ru
                    a(target='_blank', href='http://www.fongrad.ru/') fongrad.ru
                    a(target='_blank', href='http://showcompany.ru/') showcompany.ru
                    a(target='_blank', href='http://astslon.ru/') astslon.ru
                    a(target='_blank', href='http://asv74.com/') asv74.com
                    a(target='_blank', href='http://www.delsot.ru/') delsot.ru
                    a(target='_blank', href='https://gmhm.ru/') gmhm.ru
                    a(target='_blank', href='https://nomas.ru/ru') nomas.ru
                    a(target='_blank', href='https://zvmslon.ru/') zvmslon.ru
                    a(target='_blank', href='https://algus.net/') algus74.ru
                    a(target='_blank', href='https://www.webit.ru/') webit.ru
                    a(target='_blank', href='https://tara174.ru/') tara174.ru
                    a(target='_blank', href='http://tpkvezdehod.ru/') tpkvezdehod.ru
                    a(target='_blank', href='https://aksioma174.ru/') aksioma174.ru
                    a(target='_blank', href='http://uralmob.com/') uralmob.com
                    a(target='_blank', href='https://www.rifural.ru/') rifural.ru
                    a(target='_blank', href='http://ravikom.ru/') ravikom.ru
                    a(target='_blank', href='http://ntm-ets.ru/') ntm-ets.ru
                    a(target='_blank', href='http://miassprint.ru/') miassprint.ru
                    a(target='_blank', href='http://ktbmash.com/') ktbmash.com
                    a(target='_blank', href='http://zizz.qseven.ru/') zizz.qseven.ru
                    a(target='_blank', href='http://cta-miass.ru/') cta-miass.ru
                    a(target='_blank', href='http://orion-sport.ru/') orion-sport.ru
                    a(target='_blank', href='http://zvmslon.ru/') zvmslon.ru
                    a(target='_blank', href='http://vitim74.ru/') vitim74.ru
                    a(target='_blank', href='http://tgauto.ru/') tgauto.ru
                    a(target='_blank', href='http://trek.ru/') trek.ru
    .slide.slide_4
        .box
            .contacts
                .ya-share2(data-services='vkontakte,facebook,odnoklassniki,twitter,viber,whatsapp', data-size='s')
                span.frontend Фролов Денис
                span.hello  
                span skype: dream_evill
                |  
                span
                    a.vk(href='https://vk.com/froloffden')

// КОНЕЦ: main-slider
