// my-contacts
.my-contacts
	.contacts
		.ya-share2(data-services='vkontakte,facebook,odnoklassniki,twitter,viber,whatsapp', data-size='s')
		span.frontend Фролов Денис
		span.hello  
		span skype: dream_evill
		|  
		span
			a.vk(href='https://vk.com/froloffden')
// КОНЕЦ: my-contacts
