// my-contacts
.my-contacts
    .container
        .contacts
            div.cont1
                .ya-share2(data-services='vkontakte,facebook,odnoklassniki,twitter,viber,whatsapp', data-size='s')
                span.frontend Фролов Денис
            div.cont1
                span.skype dream_evill
                span
                    a.vk(href='https://vk.com/froloffden') vk.com/froloffden
// КОНЕЦ: my-contacts
