// my-title
.my-title
    .container
        .box
            div
                .name Frolov Denis
                .position web-developer
            .box2
                img(src='../img/00433.jpg' alt="")
// КОНЕЦ: my-title
